html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.root {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, #14a3dc, #7fbb00);

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'PT Sans', sans-serif;
	color: #ffffff;
}
.heading {
	font-size: 5vw;
	margin-bottom: 6vw;
	font-family: 'Ubuntu', sans-serif;
}
.title {
	font-size: 3vw;
	margin-bottom: 2vw;
}
.colorInput1,
.colorInput2 {
	border:0;
	border-radius: 30%;
	overflow: hidden;
	margin-bottom: 6vw;
	outline: none;

	cursor: pointer;
	padding:0;
	background-color: transparent;

	width: 6vw;
	height: 3vw;

	-webkit-appearance: none;
}
.colorInput1 {
	margin-right: 3vw;
}
.colorInput2 {
	margin-left: 3vw;
}
.current {
	font-size: 2vw;
}